
    body {
      margin: 0;
      font-family: 'Arial', sans-serif;
      background-color: #ffffff; /* พื้นหลังสีขาว */
      /*color: #333333; /* สีตัวอักษร */
    }

    .navbar {
      background-color: #001d72; /* เมนูบาร์สีขาว */
      padding: 15px 30px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: sticky;
      top: 0;
      z-index: 1000;
    }

    .navbar .logo {
      font-size: 20px;
      font-weight: bold;
      color: #ffffff;
      
    }

    .navbar ul {
      list-style-type: none;
      display: flex;
      margin: 0;
      padding: 0;
    }

    .navbar ul li {
      margin-left: 20px;
    }

    .navbar ul li a {
      text-decoration: none;
      color: #ffffff;
      font-weight: 500;
      transition: color 0.3s;
    }

    .navbar ul li a:hover {
      color: #0095ff;
    }

    .responsive-img {
      width: 100%;
      height: auto;
      max-width: 100%;
    }
  /* ตัวอักษรเลื่อน */
      .text-marquee {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
  }

  .text-marquee p {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 15s linear infinite;
    font-weight: bold;
    color: #002aa9;
    font-size: 18px;
  }

  @keyframes marquee {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
  }

